*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header{
	background-image: url("../img/top_bg.jpg");
	height: 642px;
	background-repeat: repeat-x;
	background-position: top center;
	position: relative;
	font-family: "BebasBold";
}
header a{
	color: #fff;
}
.top_line{
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.6) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.6) 0 0 0 1px;
	width: 100%;
	background: rgba(0,0,0,.66);
	padding: 22px 0;
}
.top_line a{
	font-size: 22px;
	border-bottom: #fff dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_line a:hover{
	border-bottom: transparent;
}
.top_addr{
	padding-left: 50px;
	background-image: url("../img/top_map.png");
	background-repeat: no-repeat;
	background-position: top left;
	line-height: 26px;
}
.top_addr strong{
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 32px;
}
.top_line .logo{
	border-bottom: none;
	position: absolute;
	margin-top: -18px;
}
.top_line .logo:hover{
	border-bottom: none;
}
.logo_wrap{
	position: relative;
	width: 240px;
	margin: auto;
}
.ta_right{
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span{
	color: #fff;
}
header h1{
	text-align: center;
	color: #fff;
	margin-top: 68px;
	font-size: 40px;
	text-shadow: rgba(0,0,0,.55) 0 3px;
	font-family: "BebasRegular";
}
header .button{
	display: inline-block;
	background-color: #D12F22;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 20px;
	font-size: 20px;
	border-bottom: 4px solid #AC160A;
	margin-right: 20px;
} 
header .button:hover{
	background-color: #e64437;
}
header .button:active{
	background-color: #B81609;
}
header .st_button{
    line-height: 18px;
    padding-top: 7px;
    text-align: left;
    padding-left: 62px;
    background-image: url(../img/camera_icon.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}
.buttons_top{
	position: absolute;
	width: 100%;
	bottom: 32px;
}
.top_mnu{
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255,.6) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.6) 0 0 0 1px;
	font-family: "BebasRegular";
	text-transform: uppercase;
}
.top_mnu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_mnu a{
	color: #fff;
	font-size: 20px;
	padding: 0 26px 0 54px;
	display: block;
	height: 62px;
	line-height: 62px;
	border-left: 1px solid #3b3b3b;
	background-image: url("../img/top_mnu_iconset.png");
	background-repeat: no-repeat;
	background-position: 20px 17px;
}
.top_mnu li:first-child a{
	border-left: none;
}
.top_mnu li{
	float: left;
}
.top_mnu li.active,
.top_mnu li:hover{
	background-color: #050505;
}
.top_mnu li:nth-child(2) a{background-position: 20px -38px;}
.top_mnu li:nth-child(3) a{background-position: 28px -92px;}
.top_mnu li:nth-child(4) a{background-position: 20px -154px;}
.top_mnu li:nth-child(5) a{background-position: 20px -221px;}
.top_mnu li:nth-child(6) a{background-position: 25px -283px;}
.waranty{
	float: right;
	color:#fff;
	cursor: default;
	font-size: 12px;
	border: 3px solid #fff;
	border-radius: 3px;
	padding: 3px 5px;
	line-height: 16px;
	margin-top: 8px;
}
.w_left{
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 10px;
	margin-right: 7px;
}
.w_left span{
	font-size: 34px;
	font-family: "BebasBold";
}
.w_left,.w_right{
	display: inline-block;
	vertical-align: top
}
/*1:48:28*/
.w_right{
	font-family: "RobotoCondensedRegular";
}
.main_cats{
	background-color: #191919;
	padding: 20px 0 32px;
}
.main_cats h2{
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasBold";
	font-size: 40px;
	text-align: center;
}
.main_cats h2 strong{
	color: #fff;
}
.main_cats h2 span{
	color: #d12f22;
}
section h2{
	position: relative;
}
.s_black h2::before{
	content: "";
	position: absolute;
	height: 20px;
	width: 50px;
	background-image: url("../img/header_lines.png");
	position: absolute;
	top: 16px;
	margin-left: -68px;
}
.s_black h2::after{
	content: "";
	position: absolute;
	height: 20px;
	width: 50px;
	background-image: url("../img/header_lines.png");
	position: absolute;
	top: 16px;
	margin-left: 19px;
	background-position: -50px 0;
}
.mc_wrap{
	text-align: center;
	padding: 0;
}
.mc_item_wrap{
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;
}
.mc_item_wrap:first-child{
	margin-left: 0;
}
.mc_item{
	border: #353535 1px solid;
	border-radius: 2px
}
.mc_item_wrap a{
	color: #fff;
	position: relative;
}

.mc_item span{
	display: block;
	height: 73px;
	width: 112px;
	background-image: url("../img/sprite_ico.png");
	background-repeat: no-repeat;
	margin: 15px auto 10px;
}
.mc_item_wrap:nth-child(1) span{
	background-position: 9px 0;
}
.mc_item_wrap:nth-child(2) span{
	background-position: -179px 0;
}
.mc_item_wrap:nth-child(3) span{
	background-position: -372px 0;
}
.mc_item_wrap:nth-child(4) span{
	background-position: -559px 0;
}
.mc_item_wrap:nth-child(5) span{
	background-position: -750px 0;
}
.mc_item_wrap:nth-child(5) span{
	background-position: -750px 0;
}
.mc_item_wrap:nth-child(6) span{
	background-position: -938px 0;
}
.mc_item h4{
	font-weight: normal;
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}
.mc_item a:hover h4,
.mc_item li.active h4{
	text-decoration: underline;
}
.mc_item_wrap.active,
.mc_item_wrap:hover{
	background-color: #2a2a2a;
}
.mc_toggle{
	background-color: #212121;
	height: 25px;
	position: relative;
	cursor: pointer;
	background-image: url("../img/ms_arr.png");
	background-repeat: no-repeat;
	background-position: -118px 10px;
}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle{
	background-color: #353535;
	background-position: 72px 10px;
}
.mc_item_wrap.active > ul{
	position: absolute;
	width: 100%;
	text-align: center;
}
.mc_item_wrap.active > ul li{
	display: inline-block;
	font-family: "BebasRegular";
}
/*2:56:00* - были доработки*/
body .mc_wrap .mc_item_wrap > ul{
	background-color: #353535;
	font-size: 20px;
	margin-top: 25px;
	position: absolute;
	width: 100%;
	padding: 15px 0;
	list-style-type: none;
	z-index: 10;
	display: none;
}
.mc_item_wrap.active > ul li a{
	padding: 0 10px;
	text-decoration: none;
}
/*2:58:11 - обовязково звідси*/
.mc_item_wrap.active > ul li a:hover{
	text-decoration: underline;
}
.mc_item_wrap_af {
    content: "";
    background-image: url(../img/arrow.png);
    height: 9px;
    position: absolute;
    width: 18px;
    margin: 16px -10px;
    display: none;
}
